.wrapper {
    width: 90vw ;
    text-align: center;
}

h1 {
    text-align: center;
}

.text-muted{
    text-align: left;
}

.row {
    margin: 50px 0;
}

.pagination>li>a { border-radius: 50% !important;margin: 0 5px;}